html, body {
    height: 100%;
    background-color: #90E0EF;
}

img {
    clip-path: circle();
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
width: 50%;
}

ul {
list-style: none;
padding: 0;
margin: 0;
}