html, body {
    height: 100%;
    background-color: rgb(229, 234, 243);
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    background: white;
    color: green;
    grid-column: 1;
    grid-row: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgb(235, 233, 233);
    padding-top: 10px;
}    


li {
    font-size: 20px;
    font-weight: 100;
    color: black;
    padding-bottom: 10px;
    padding-left: 10px;
}

.sidebar-icon {
    padding: 10px;
    color: rgb(205, 208, 212);
}

.Dashboard {
    font-size: 28px;
    padding-left: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(235, 233, 233);
}

.Home {
    padding-top: 10px;
}

.navbar {
    background: white;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    border: 1px solid rgb(235, 233, 233);
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.elon {
    width: 150px;
    clip-path: circle();
}

.welcome {
    font-size: 20px;
}

.welcome2 {
    font-weight: 800;
    font-size: 30px;
}

span {
    color: rgb(111, 122, 189);
    margin-right: 10px;
}

.share {
    margin-right: 60px;
}

input[type=text] {
    padding: 5px;
    padding-left: 10px;
    width: 100%;
    border-radius: 12px;
}

.nav-right, .nav-left {
    display: flex;
    align-items: center;
}

.nav-left {
    max-height: 85px;
    min-width: 440px;
}

.nav-right {
    justify-content: space-between;
    gap: 1vw;
}

.nav-buttons {
    transition-duration: 0.4s;
    padding: 10px 1vw;
    border: 1px;
    border-radius: 24px;
    background: black;
    color: white;
    font-weight: 800;
}
  
.nav-buttons:hover {
    background-color: blue;
    color: white;

}

.search-bar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.right-side {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}

.container {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 75px 1fr;
}

.projects {
    grid-column: 1;
}

.cards {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-height: 452px;

}

.card {
    background: white;
    border-radius: 12px;
    margin: 10px;
    padding-bottom: 5px;
}

.details {
    padding: 0px 10px 10px 10px;
}

img {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.right-sidebar {
    grid-row: 1/-1;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

